<template>
  <Loader v-if="comments.length == 0" />
  <Header v-if="comments.length > 1" title="Comments" />
  <SinglePost v-if="comments.length > 1" :comments = "comments" />
</template>
<script>
import Loader from '../components/loader.vue'
import SinglePost from '../components/singlePost.vue'
import Header from '../components/header.vue'
export default {
   name:'Comments',
   components:{ Loader, SinglePost, Header },
   data(){
       return{
           api:'https://jsonplaceholder.typicode.com/posts/',
           comments: [],
     }
   },
   methods:{
       async getComments(){
          const data = await fetch(`${this.api}${this.$route.params.id}/comments`);
          this.comments = await data.json()
     }
   },
   created(){
       this.getComments()
   }
}
</script>

<style>

</style>