<template>
    <div class="home-page">
      <Header title = "Welcome on the site" />
      <h3>Here you can find many posts. Let see!</h3>
      <h3>This site is currently under construction, we hope it will be completed soon.</h3>
      <div class="container visit-posts">
      <router-link to="/posts">
         <p class="go-to-posts">Click here to see posts</p>
      </router-link>
    </div>.</div>
</template>

<script>
import Header from '../components/header'
export default {
    name:"Home",
    components:{ Header },
    mixins:[]
}
</script>

<style scoped>
.home-page{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.wrapper{
    background: red;
}
.container {
    max-width:10rem;
    margin:0 auto;
    margin-top: 5%;
}

h3 {
    margin: 1rem;
}


</style>