<template>
  <div class="posts-page">
    <Header v-if="filterPosts.length > 0" title="Posts"/>
    <Search @findPost ="filterPost"/>
    <Posts v-if="filterPosts.length > 0" :allPosts="filterPosts" />
     <WrongFilterValue v-if="filterPosts.length == 0 && transformatedPosts.length >= 1" />
    <Loader v-if="transformatedPosts.length == 0" /> 
    <Error  :err ="error" />
  </div>
</template>
<script>
import Search from '../components/search.vue'
import Posts from '../components/posts.vue'
import Loader from '../components/loader.vue'
import Header from '../components/header.vue'
import WrongFilterValue from '../components/wrongFilterValue.vue'
import Error from '../components/error.vue'
import searchMixin from '../mixins/searchMixin'
export default {
  components:{ Search, Posts, Loader, Header, WrongFilterValue, Error },
  mixins:[searchMixin],
  name: 'Home',
    data(){
      return{
        api: 'https://jsonplaceholder.typicode.com/',
        posts: [],
        users: [],
        transformatedPosts: [],
        searchData: '',
        error: ''
      }
    },
    methods:{
      // get posts
      async getPosts(){
          try{    
            const data = await fetch(`${this.api}posts`);
             if(!data.ok){
              throw Error("no data available")
          }
              this.posts = await data.json();   
          }
            catch(err){
              this.error = err;
           }
         
        },
      // get users 
      async getUsers(){
         try{
           const data = await fetch(`${this.api}users`);
           if(!data.ok){
            throw Error("no data available")
          }
            this.users = await data.json(); 
        }
          catch(err){
            this.error = err.message;
        }
        },

       // compare posts (userid) nad users(id), if it matches take the value of the user and put it in the post object
            getFinalData(){        
              this.transformatedPosts= this.posts.map(post => {
              const findUser = this.users.find(user => user.id == post.userId)
              return {...post, name:findUser.name};   
            });
         },

      // filter posts with user name
            filterPost(data){
              this.searchData = data;
          }
       },
      async created(){
         await this.getPosts();
         await this.getUsers();
         this.getFinalData();
    },
}
</script>
