<template>
  <div class="error">
      <p>{{err}}</p>
  </div>
</template>
<script>
export default {
    name:"Error",
    props:["err"]
    

}
</script>

<style>
.error p{
    color:red;
    font-weight: bold;
}

</style>