<template>
  <div  class="container post" v-for="post in  allPosts" :key="post.id">
      <router-link :to="{ name: 'Comments', params: { id: post.id }}">
         <p>Author: <strong>{{post.name}}</strong></p>
        <h4>{{post.title}}</h4>
        <p>{{post.body}}</p>
      </router-link>
  </div>
</template>
<script>
export default {
    props: {
    allPosts:{ type: Array, required:true}
  },
}
</script>
