<template>
   <div class="search-wrapper">
     <input @keyup="filterData" placeholder="Search post by author name" type="text" v-model="search">
   </div>
</template>

<script>
export default {
    name:'Search',
    emits:['findPost'],
    data(){
        return{
            search: ''
        }
    },
    methods:{
        filterData(){
            //send search data in parent component
            this.$emit("findPost", this.search)
      }      
    },
}
</script>
<style scoped>
.search-wrapper {
    margin:1rem;
}
.search-wrapper input {
   padding:0.4rem;
   border: none;
   border-radius: 0.3rem;
   box-shadow: 2px 2px 3px 3px black;
   outline: none;
}
</style>