<template>
    <div class="comments-container" v-for="comment in  comments" :key="comment.id">
        <p>{{comment.body}}</p>
    </div>
</template>
<script>
export default {
    props:{
        comments:{ type:Array, required:true}
    }
}
</script>