<template>
  <div class="wrapper">
    <router-view/>
  </div>
</template>

<style>

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  user-select: none;
}

body {
  background-color:antiquewhite;
}
.wrapper {
  text-align: center;
  max-width:  800px;
  margin: 1rem auto;
 }

.container, .comments-container{
  margin: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 1px 3px 4px 4px grey;
}
.container p {
  margin:1rem;
}

.container a {
  text-decoration: none;
  color:black;
}

.container:hover { 
   box-shadow: 1px 1px 1px black;
}

@media only screen and (max-width: 1280px) {
  .wrapper {
    width:90%;
  }
  h1{
    font-size: 1.5rem;
  }
  h4{
    font-size: 0.8rem;
  }
  p {
    font-size: 0.6rem;
  }
  .visit-posts{
    padding: 0.7rem;
  }

  .go-to-posts {
    font-size: 0.8rem;
  }
}

</style>
